# --- JAVA (Backend) ---
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/.metadata/
backend/bin/
backend/*.jar
backend/*.war

# --- REACT (Frontend) ---
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env
frontend/.env.local

# --- IDEs e Sistema ---
.idea/
.vscode/
*.iml
*.swp
.DS_Store
Thumbs.db

# --- BANCO DE DADOS (Se houver dumps ou logs locais) ---
*.sql
*.log