### Java & Maven ###
target/
*.class
*.jar
*.war
*.ear
*.log

### Spring Boot ###
.mvn/wrapper/maven-wrapper.properties
application.properties 

### IDEs ###
.idea/
.vscode/
*.iml
.project
.classpath
.settings/
nbproject/
build/

### Sistema ###
.DS_Store
Thumbs.db