.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: #1a1a1a;
    box-shadow: 1px 1px 10px rgba(0,0,0, 0.7);
    color: white;
    border-radius: 5%;
    padding: 1%;
    width: 30%;
    min-width: 400px;
}

.auth-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    border-radius: 8px;
}


.auth-container button {
    padding: 10px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}