.welcome-section h1 {
  font-size: 24px;
  margin-bottom: 8px;
}

.welcome-section p {
  font-size: 16px;
  color: #8d8d8d;
  line-height: 1.5;
  margin-bottom: 2rem;
}



.highlights h2 {
  font-size: 22px;
  margin-bottom: 1rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  flex: 1 1 250px;
  background: #f0f4f8;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

.card h3 {
  margin: 0;
  font-size: 1.2rem;
}

.card p {
  margin: 0;
  color: #555;
  font-size: 0.95rem;
}

.call-to-action {
  background: #4e5053;
  color: #ffffff;
  height: 20px;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  margin-top: 2rem;
}

.call-to-action p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
  }

  .card {
    flex: 1 1 100%;
  }
}