.user-menu-container {
  position: relative;
}

.user-dropdown {
  position: absolute;
  top: 52px;
  right: 0;
  background-color: #222222;
  border: 1px solid #323232;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
  width: 150px;
  z-index: 1000;
  padding: 10px 10px;
  text-align: center;
}

.user-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-dropdown li {
  padding: 10px 15px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  background-color: #2e2e2e;
  transition: background 0.2s;
}

.user-dropdown li:hover {
  background-color: #3b3b3b;
}

.user-dropdown .logout-option {
  color: #e29e20;
  font-weight: bold;
  text-align: center;
}

.user-dropdown hr {
  margin: 4px;
  border: 0;
  border-top: 1px solid #804b17;
}

.welcome-section h1 {
  font-size: 24px;
  margin-bottom: 8px;
}

.welcome-section p {
  font-size: 16px;
  color: #8d8d8d;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.highlights h2 {
  font-size: 22px;
  margin-bottom: 1rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  flex: 1 1 250px;
  background: #f0f4f8;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.card h3 {
  margin: 0;
  font-size: 1.2rem;
}

.card p {
  margin: 0;
  color: #555;
  font-size: 0.95rem;
}

.call-to-action {
  background: #4e5053;
  color: #ffffff;
  height: 20px;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  margin-top: 2rem;
}

.call-to-action p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.filter-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  padding: 10px 0;
  overflow-x: auto;
}

.filter-btn {
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid #486aa0;
  background: transparent;
  color: #c9c9c9;
  cursor: pointer;
  transition: 0.3s;
}

.filter-btn.active,
.filter-btn:hover {
  background: #486aa0;
  color: white;
}


@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
  }

  .card {
    flex: 1 1 100%;
  }
}