* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: 
        linear-gradient(rgba(34, 34, 34, 0.95), rgba(23, 23, 23, 0.95)),
        url('../assets/images/java_wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}



.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
    gap: 20px;
    margin: 0px 0px;
}

.input-group input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #1f3e4f;
    outline: none;
    color: white;
    background-color: rgb(42, 42, 42);
}

input::placeholder {
  color: rgb(171, 171, 171); 
}

#login-button {
    padding: 10px;
    background-color: #ff6f00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 20px 0px;
}

#login-button:hover {
    background-color: #e65c00;
}

.auth-container h2 {
    margin-bottom: 10%;
}

#register-link {
    color: #ff6f00;
    text-decoration: none;
    cursor: pointer;
}

.icons-footer {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.icon-wrapper {
    width: 40px;          
    height: 39px;          
    background: white;     
    border-radius: 60%;   
    display: flex;         
    align-items: center;   
    justify-content: center; 
    transition: 0.3s;     
}

.icon-wrapper svg {
    width: 100%;            
    height: 120%;
    color: #333;           
}

.icon-wrapper:hover {
    transform: translateY(-1px); 
}

#icon-github:hover{
    background-color: #ffffff; 

}

#icon-linkedin:hover {
    background-color: #ffffff; 
}

#icon-linkedin:hover svg {
    color: #0048b5; 
}

#icon-github:hover svg {
    color: #50456e; 
}