* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: 
        linear-gradient(rgba(34, 34, 34, 0.95), rgba(23, 23, 23, 0.95)),
        url('../assets/images/java_wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}

.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-color: #1a1a1a;
    box-shadow: 1px 3px 15px rgba(0,0,0);
    color: white;
    border-radius: 5%;
    padding: 1%;
    width: 30%;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 90%;
    min-width: 300px;
    gap: 10px;
    margin: 10px 0px;
}

.input-group input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #5b2800;
    outline: none;
}

#login-button {
    padding: 10px;
    background-color: #ff6f00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#login-button:hover {
    background-color: #e65c00;
}

.auth-container h2 {
    margin-bottom: 10%;
}

#register-link {
    color: #ff6f00;
    text-decoration: none;
    cursor: pointer;
}