* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    background: 
        linear-gradient(rgba(34, 34, 34, 0.95), rgba(23, 23, 23, 0.95)),
        url('../assets/images/java_wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.input-group input {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #5b2800;
    background-color: #2a2a2a;
    color: white;
    outline: none;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #ff6f00;
}

#login-button {
    padding: 12px;
    background-color: #ff6f00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s;
}

#login-button:hover {
    background-color: #e65c00;
    transform: translateY(-2px);
}

#register-link {
    color: #ff6f00;
    text-decoration: none;
    font-weight: bold;
}

#register-link:hover {
    text-decoration: underline;
}
