* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2e2e2e;
  color: #d5d5d5;

}

#root {
  height: 100%;
}

.header-container {
  width: 100%;
  height: 64px;
  border-bottom: 1px solid rgb(75, 75, 75);
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #2e2e2e, #2a2a2a);
  z-index: 100;
}

.header-row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 24px;
  padding: 0px 1%;
}

.header-text {
  flex: 2;
}

.header-text h1 {
  font-size: 24px;
  margin-bottom: -10px;
  cursor: pointer;
}

.title-with-icon {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: px;
}

.title-with-icon img {
  width: 40px;
  height: 40px;
}

.search-input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 350px; 
  right: 30%;
}

.search-input-container input {
  width: 100%; 
  padding: 10px 40px 10px 15px; 
  border-radius: 8px;
  border: 1px solid #333;
  background-color: #1f1f1f;
  color: white;
  outline: none;
}

.clear-icon {
  position: absolute; 
  right: 12px;       
  top: 50%;        
  transform: translateY(-50%); 
  color: #c9c9c9;
  cursor: pointer;
  transition: color 0.2s;
  z-index: 2;        
}

.clear-icon:hover {
  color: #f59e0b; 
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #2e2e2e;
  padding: 12px 16px;
  border-radius: 6px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background 0.2s;
  color: #c0c0c0;
}

li:hover {
  background: #444444;
}

.app-layout {
  display: flex;
  height: calc(100vh - 64px);
  margin-top: 64px;
}

.sidebar {
  position: fixed;
  width: 220px;
  height: 100vh;
  background-color: #222222;
  padding: 24px 16px;
  border-right: 1px solid #333;
  transition: width 0.3s ease;
}

.sidebar-title {
  font-size: 14px;
  text-transform: uppercase;
  color: #888;
  margin-bottom: 16px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 10px 12px;
  margin-bottom: 6px;
  border-radius: 6px;
  cursor: pointer;
  color: #ccc;
  transform: translate(1);
  transition: background 0.4s, color 0.2s, transform 0.2s;
}

.sidebar-menu li:hover {
  background: #d68940;
  color: #fff;
  transform: scale(1.03);
}

.sidebar-menu li.active {
  background-color: #333;
  color: #fff;
  font-weight: bold;
}

.sidebar-toggle {
  position: absolute;
  top: 30%; 
  right: -18px; 
  transform: translateY(-50%);
  background: #222222;
  border: none; 
  border-left: none; 
  border-radius: 0 15px 15px 0; 
  width: 30px;
  height: 30px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.sidebar-toggle:hover {
  color: #fff;
}

.sidebar-closed .sidebar {
  width: 40px;
}

.sidebar-closed .sidebar-content {
  display: none;
}

.main-content {
  flex: 1;
  background-color: #2e2e2e;
  padding: 20px 20px;
  margin-left: 255px; 
  transition: margin-left 0.3s ease;
  height: calc(100vh - 64px);
  
  scrollbar-width: none; 
  
  -ms-overflow-style: none; 
}

.main-content::-webkit-scrollbar {
  display: none;
}

.sidebar-closed .main-content {
  margin-left: 75px; 
}