* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2e2e2e;
  color: #aaaaaa;
}

#root {
  height: 100%;
}

.header-container {
  width: 100%;
  height: 64px;
  border-bottom: 1px solid rgb(75, 75, 75);
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #2e2e2e, #2a2a2a);
  z-index: 100;
}

.header-row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 24px;
}

.header-text {
  flex: 2;
}

.header-text h1 {
  font-size: 24px;
  margin-bottom: -10px;
  cursor: pointer;
}

.header-row input {
  flex: 1;
  max-width: 280px;
  margin-bottom: 0;
  margin-right: 35%
}


.title-with-icon {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: px;
}

.title-with-icon img {
  width: 40px;
  height: 40px;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 12px;
  background: #252323;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #6b6b6b;
  color: white
}

input:focus {
  outline: none;
  border-color: #8b5726;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #2e2e2e;
  padding: 12px 16px;
  border-radius: 6px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background 0.2s;
  color: #c0c0c0;
}

li:hover {
  background: #444444;
}

.app-layout {
  display: flex;
  height: calc(100vh - 64px);
  margin-top: 64px;
}

.sidebar {
  position: fixed;
  width: 220px;
  height: 100vh;
  background-color: #222222;
  padding: 24px 16px;
  border-right: 1px solid #333;
  transition: width 0.3s ease;
}

.sidebar-title {
  font-size: 14px;
  text-transform: uppercase;
  color: #888;
  margin-bottom: 16px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 10px 12px;
  margin-bottom: 6px;
  border-radius: 6px;
  cursor: pointer;
  color: #ccc;
  transition: background 0.2s, color 0.2s;
}

.sidebar-menu li:hover {
  background-color: #a06936;
  color: #fff;
}

.sidebar-menu li.active {
  background-color: #333;
  color: #fff;
  font-weight: bold;
}

.sidebar-toggle {
  position: absolute;
  top: 32%;
  right: -15px;
  transform: translateY(-40%);
  background: #222222;
  border: none;
  border-radius: 60%;
  width: 30px;
  height: 30px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.sidebar-toggle:hover {
  color: #fff;
}

.sidebar-closed .sidebar {
  width: 40px;
}

.sidebar-closed .sidebar-content {
  display: none;
}

.main-content {
  flex: 1;
  background-color: #2e2e2e;
  padding: 24px;
  overflow-y: auto;
  margin-left: 19%;
  transition: margin-left 0.3s ease;
  height: calc(100vh - 64px);
  overflow: hidden;
}

.sidebar-closed .main-content {
  margin-left: 70px; 
}